<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/carta.css" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>

    /*Estilos para el contenedor del modal de reservciones*/
    .container-edit {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .container-edit form{
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        width: 100%;
        max-width: 320px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .container-edit form h2 {
        margin-bottom: 1rem;
        text-align: center;
    }

    .container-edit input {
        width: 100%;
        padding: 0.8rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .container-edit button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        background-color: #49a326;
        color: #ffffff;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
    }

    .container-edit button:hover {
        background-color: #1a5814;
    }

    </style>
</head>
<body> 

    <div id="modaledit" class="container-edit">
        <div class="modal-content">
            
            <form id="edit-form" class="form-edit" action="/perfil/editar" method="POST">
                <h2>Editar Perfil</h2>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required value="<%= user.nombre %>">
                <label for="pfp">Foto de perfil:</label>
                <input type="text" id="pfp" name="pfp" placeholder="URL de la imagen" value="<%= user.pfp %>">
                <button type="submit">Guardar Cambios</button>
                <button type="button" id="cerrar">cerrar</button>
            </form>
        </div>
    </div>

    <div class="dashboard">
        <aside class="sidebar">
            <div class="top">
                <div class="logo">
                    <img src="./img/logo.jpeg" alt=""> 
                    <span>pepe's</span>
                </div>
                <div class="toggle">
                    <i class='bx bx-x'></i>
                </div>
            </div>
            <%- include('rutas')%>
        </aside>

        <main class="content">
            <div class="user-card">
                <img src="<%= user.pfp ? user.pfp : '/img/perfil.jpg' %>" alt="Foto de perfil" />
                <h2><%= user.nombre %></h2>
                <p><strong>Correo:</strong> <%= user.correo %></p>
                <p><strong>Rol:</strong>
                    <% if (user.rol === 1) { %>
                        Admin
                    <% } else if (user.rol === 2) { %>
                        Usuario
                    <% } else if (user.rol === 3) { %>
                        Receptionista
                    <% } else { %>
                        Desconocido
                    <% } %>
                </p>
                <p><strong>Fecha de registro: </strong><%= user.fecha_registro %></p>
                <button id="editar" class="edit-btn">Editar perfil</button>
            </div>
        </main>
    </div>

    <script src="js/nav.js"></script>

    <script src="js/modaledit.js"></script>

</body>
</html>
